* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  justify-content: center;
  max-height: 100vh;

  font-family: "DM Sans", sans-serif;

  list-style: 1;
  font-weight: 400;
}
.container {
  min-width: 32rem;
  max-width: 42.8rem;
  /* max-width: 32rem; */
  /* max-height: 91.5rem; */
  width: 100%;
  margin: 0 auto;

  /* background-color: #dde6ed42; */
  background-color: #f3f6fd;
  /* background-color: #f1f4f7; */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.09);
  border-radius: 3rem;
  overflow: hidden;
}

.btc {
  display: flex;

  align-items: center;
  gap: 2rem;
}

.btc-icon-con {
  display: grid;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  /* background-color: bisque; */
  align-items: center;
  justify-content: center;
}

.line-chart {
  margin: 0 auto;
}
