.btc-container {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}
.buy-sel-btc {
  /* max-width: 100%;
  margin: 0 auto; */
  box-shadow: 0 0 4.5rem rgba(0, 0, 0, 0.09);
  /* box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.09); */
  border-radius: 1rem;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  gap: 0.7rem;
}
.buy-sell-details {
  font-size: 1.284rem;
  font-weight: 600;
  color: #4d5272;
}
